#main > .block {
    width:      610px !important;
    margin-top: -20px;
}

.partner_info {
    float:          left;
    text-align:     center;
    margin-right:   30px;
    margin-left:    20px;
}

article {
    margin-bottom:  30px;
}

article img {
    width:          187px;
    height: auto;
}