#container {
    width: 991px;
    margin: 0 auto;
    margin-top: 30px;
}

body {
    font-family:       'Arial', Times, serif !important;
}

.logotip {
    background:     url(../images/logotip.jpg) no-repeat;
    width:          342px;
    height:         79px;
    display:        block;
    float:          left;
}



.logotip {margin-left: 32px;}

#main {
    background: url(../images/reg_bg.jpg) no-repeat top center;
    width: 991px;
    min-height: 557px;
    padding-left: 32px;
    margin-left: -20px;
    clear:both;
    margin-bottom: 20px;
    padding-top: 42px;
}

#reg_info {
    background: url(../images/reg_info_bg.png);
    width: 918px;
    min-height: 518px;
    border: #eaeaea 1px solid;
    padding: 0 20px
}

#reg_info nav {
    float: right !important;
    margin-right: -20px;
}

#reg_info nav a {
    background: #f4f4f4 !important;
    color: #00a295;
    clear: none !important;
    float: left;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

#reg_info nav a:last-child {margin-right:0;}

#reg_info nav .active{
    background: #00a295 !important;
    color: #fff;
    clear: none !important;
    float: left;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid transparent;
}

#reg_info h1 {
    font-size: 18px;
    color: #00a295;
    text-transform: uppercase;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 5px;
    clear:both;
    margin-top: 30px;
}

#reg_info h1 span {
    color:gray;
    font-size: 14px;
}

#field_leg {
    background: url(../images/field_leg.png) no-repeat;
    width: 405px;
    float: right;
    height: 13px;
    display: block;
}

#reg_info form {
    clear: both;
    margin-top: 160px;
}

input {
    border:         none;
    border-top:  1px solid #9f9f9f;
    border-left:  1px solid #9f9f9f;
    background:     #e8e8e8;
    width:          230px;
    padding:        2px 5px;
    margin-bottom:  50px;
    margin-right: 30px;
    height:         24px;
    outline:        none;
    color: gray !important;
    font-weight: bold;
    padding: 3px 8px;
    float: left;
}

#reg_info form img {float:left; margin-right: 20px;}

input[type="buttom"]  {width: 74px !important; text-align: center;}

.sb-select {padding:3px 8px !important; width: 230px !important;}

#reg_info form div:first-child {float: left; width: 570px;}

.important {color: #00a295 !important;}

input[type="submit"] {
    background:     #00a295 !important;
    clear: both;
    color: #fff !important;
    float: right;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 -20px 0 0;
    height: 36px;
    width: auto !important;
    text-align:center;
}


.c {clear:both;}

footer {
    clear:  both;
    width:  991px;
    margin: 0 auto;
    margin-left:20px;
}

footer .block {
    float:      left !important;
    width:      320px;
    padding-top:    20px;
}

footer .block:first-child {
    font-size:      12px;
    line-height:    20px;
    width:          280px;
    padding-left:   10px;
    margin-right:   60px;
    padding-top:    8px;
}

footer a {
    color:              #008277 !important;
    text-decoration:    underline;
}

footer a:hover {
    color:          #ff6700 !important;
}