#container > header {
    background: none !important;
    min-height: 290px;
}

.block {
    width:  610px;
}

.block .info h1 {
    font-style:     italic;
}

.block articler p {
    font-size:      13px;
    line-height:    20px;
    font-family:    'Arial';
}

footer {
    padding-top: 40px;
}