/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Vitaliy
   ========================================================================== */

body {
    font-family:       'Arial', Times, serif !important;
}

.logotip {
    background:     url(../images/logotip.jpg) no-repeat;
    width:          342px;
    height:         79px;
    display:        block;
    float:          left;
}


#container > header {
    background: none !important;
    min-height: 290px;
    background: url(../images/header_all.jpg) no-repeat center 150px !important;
}


::-webkit-input-placeholder {color:#8c8c8c;}
:-moz-placeholder {color:#8c8c8c;}

.in_block {
    float:          right;
    height:         57px;
    width:          247px;
    margin-right:   65px;
    padding-top:    5px;
    background:     url(../images/in_block_top_bg.png) repeat-x top;
}

.in_block input {
    clear:          both;
    margin-top:     15px;
    width:          208px;
    font-style:     italic;
    background:     #f4f4f4;
    color:          #8c8c8c;
    border:         none;
    padding-left:   10px;
    border-left:    1px solid #8c8c8c;
    border-top:     1px solid #8c8c8c;
    outline:        none;
    height:         20px;
}

.in_block input[type="submit"] {
    background:     url(../images/in_block_submit.jpg) no-repeat;
    display:        block;
    width:          24px;
    height:         24px;
    float:          right;
}

.in_block  a {
    float:              left;
    color:              #008277;
    text-decoration:    underline;
    padding-left:       20px;
    margin-right:       40px;
}

.reg_path {
    background:     url(../images/in_block.png) no-repeat top left;
    height:         16px;
}

.login_path {
    background:     url(../images/in_block.png) no-repeat bottom left;
    height:         16px;
}

#main nav a {
    color:              #008073;
    text-decoration:    underline;
}

#main nav a:hover,
.active {
    color:          #a3826b !important;
}

.block input {
    border:         none;
    border-top:  1px solid #9f9f9f;
    border-left:  1px solid #9f9f9f;
    background:     #e8e8e8;
    width:          260px;
    padding:        2px 5px;
    margin-bottom:  15px;
    height:         24px;
    outline:        none;
}

.submit {
    background: #00a295 url(../images/submit.jpg) no-repeat !important;
    width:      115px !important;
    height:     32px !important;
    display:    blcok !important;
    clear:      both;
    float:      left;
    margin-left:    195px;
    margin-top: 15px;
}

.submit_mas {
    background: #00a295 url(../images/submit_mas.jpg) no-repeat !important;
    width:      148px !important;
    height:     32px !important;
    display:    blcok !important;
    clear:      both;
    float:      left;
    margin-left:    195px;
    margin-top: 15px;
}

.reset {
    background: none !important;
    width:      75px !important;
    height:     32px !important;
    border: none !important;
    display:    blcok !important;
    float:      left;
    text-decoration:    underline;
    color:      #00a295;
    margin-left:    45px;
    font-style:     italic;
    margin-top: 15px;
}

#main {
    width:          940px;
    margin:         0 auto;
    font-style:     italic;
}

#main a {
    color:              #008277;
    text-decoration:    underline;
}

#main nav a:hover,
.active {
    background:     url(../images/a_active.png) no-repeat right;
    padding-right:  25px;
    color:          #ff6700 !important;
}

#container > header {
    width:          991px;
    margin:         0 auto;
    overflow:       hidden;
    padding:        32px 45px 37px 22px;
    position:       relative;
}

#main nav:first-child {
    float:          left;
    width:          320px;
    max-width:      320px;
    display:        block;
}

nav a {
    float:          left;
    clear:          both;
    font-size:      15px;
    margin-bottom:  15px;
}

nav > nav {
    width:          300px;
    margin-left:    20px;
}

.block {
    float:          left;
    width:          300px;
    margin-right:   10px;
    margin-bottom:  30px;
}

footer {
    clear:  both;
    width:  991px;
    margin: 0 auto;
}

footer .block {
    float:      left !important;
    width:      320px;
    padding-top:    20px;
}

footer .block:first-child {
    font-size:      12px;
    line-height:    20px;
    width:          280px;
    padding-left:   10px;
    margin-right:   60px;
    padding-top:    8px;
}

footer a {
    color:              #008277 !important;
    text-decoration:    underline;
}

footer a:hover {
    color:          #ff6700 !important;
}

.info {
    margin-top: -20px;
}


.paginate {
    clear:  both;
    float:  left;
    width:  600px;
    margin-top: 40px;
    margin-left:    80px;
}

.paginate a {
    display:    block;
    width:      22px;
    height:     22px;
    background: #f4f4f4;
    color:      #666666 !important;
    text-align: center;
    padding:    4px;
    clear:      none;
    text-decoration:    none !important;
    float:      left !important;
    margin-right:   10px;
}

.paginate a:first-child {
    background:     url(../images/blog/pa_left.jpg) no-repeat;
    margin-right:   20px;
}

.paginate a:last-child {
    background:     url(../images/blog/pa_right.jpg) no-repeat;
    margin-left:   20px;
}

.paginate a:hover,
.paginate .active {
    background:     none !important;
    color:          #fff !important;
    background-color:   #00a295 !important;
    padding-right:  4px !important;
}

nav a:hover {color:#fff !important;}

.paginate a:first-child:hover,
.paginate .active:first-child {
    background:     url(../images/blog/pa_left.jpg) no-repeat;
}

.c {clear:both;}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
